<ol class="breadcrumb">
	<li><a href="/"><%= __('Home') %></a></li>
	<li><a href="/event/"><%= __('Events') %></a></li>
	<li class="active"><%= loggedUser.username %></li>
</ol>
<br>
<a class="btn btn-primary" href="../event/new/<%= loggedUser.id %>">Nuevo evento</a>
<br>
<h1> HOLA <%= loggedUser.username %> </h1>
<ul>
<% _.each(event, function(event){ %>
	<li>El día <%= event.fecha %> tienes el evento: <b><%= event.nombre %></b></li>
	<li><%= event.descripcion %></li><hr>
<% }); %>
</ul>
